<div class='sub_navigation navigation'>
	<ul>
		<li><%= link_to 'View My Profile', researcher_path(@researcher) %>          </li>
		<li><%= link_to 'My Research', research_researcher_path(@researcher) %>     </li>
		<li><!-- TODO - View Notification Preferences -->                           </li>
		<li><!-- TODO - My Followed Researchers -->                                 </li>
		<li><!-- TODO - My Groups -->                                               </li>
	</ul>
</div>
