<h1>My Research</h1>

<table>
  <tr>
    <th>Title</th>
    <td></td>
    <td></td>
    <td></td>
  </tr>

<% @researcher.posts.each_with_index do |post, index| %>
  <% css_class = (index % 2 == 0) ? "even" : "odd" %>
  <tr class='<%= css_class %>'>
    <td><%= post.title %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
  </tr>
<% end %>
</table>
