<% content_for :title do %>
	<%= "Home" %>
<% end %>
<div class='sub_navigation navigation'>
	<ul>
		<li><%= link_to 'About', about_home_path, :class => 'ui-state-default ui-corner-all hover-button' %></li>
		<li><%= link_to 'Support', support_home_path, :class => 'ui-state-default ui-corner-all hover-button' %></li>
	</ul>
</div>
<h1>Home</h1>
