<% content_for :title do %>
	<%= "Support" %>
<% end %>
<% content_for :navigation do %>
  <div class='sub_navigation'>
    <ul>
      <li><%= link_to 'About', about_home_path %></li>
      <li class='current'><%= link_to 'Support', support_home_path %></li>
    </ul>
  </div>
<% end %>
<h1>Support</h1>
<h2>Getting Started</h2>
<p>
  
</p>
<h2>Setting Up The Notification System</h2>
<h2>Updating Your Profile</h2>
<h2>Setting Your Notification Preferences</h2>
