<% content_for :title do %>
	<%= "Support" %>
<% end %>
<div class='sub_navigation navigation'>
	<ul>
		<li><%= link_to 'About', about_home_path, :class => 'ui-state-default ui-corner-all hover-button' %></li>
		<li><%= link_to 'Support', support_home_path, :class => 'ui-state-default ui-corner-all ui-state-hover' %></li>
	</ul>
</div>
<h1>Support</h1>
<h2>Getting Started</h2>
<p>
  
</p>
<h2>Setting Up The Notification System</h2>
<h2>Updating Your Profile</h2>
<h2>Setting Your Notification Preferences</h2>
