body {
	font-family: tahoma,verdana,helvetica,arial,sans-serif;
	margin-left:  auto;
	margin-right: auto;
	background-color: #fff;
	min-width: 800px;
	max-width: 1000px;
}

div.body_background {
/*    background: url('../images/background.jpg');  */
	width: 1000px;
	background-repeat: no-repeat;
	background-color: #dbbe76;
	padding-bottom: 1.5em;
}
    
div.body_content {
	margin-left: auto;
	margin-right: auto;
	padding: 1.4em;
	width: 85%;
	background-color: rgba(255,255,255,0.80);
	min-height: 500px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.75); 
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}


div.header a, div.header img {
	border: none;
	text-decoration: none;

}

div.body_background {
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

div.header, div.header img {
	margin: 0;
	width: 100%;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin: 0;
	padding: 0;
	height: 192px;
	width: 1000px;

}

div.header img a {
	margin: 0;
	padding: 0;
}

img {
    max-width: 100%;
}

div.rating {
    font-size: 0.8em;
}

div.navigation {
	margin: 0;
	height: 4em;
}

div.main_navigation {
	float: left;
	height: 4em;
}

div.session_navigation {
	height: 4em;
	text-align: right;
}


div.navigation ul {
	background-color: #99f;
	display: inline-block;
    padding: 0.5em 0.8em 0.5em 0.8em;
	margin-top: 0;
	margin-bottom: 0.6em;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.75); 
}

div.sub_navigation ul {
	background-color: #ccf;
	float: left;
}

div.main_navigation ul li {
    margin: 0;
    display: inline;
	position: relative;
}

div.session_navigation ul li, div.sub_navigation ul li {
    display: inline-block;
	text-align: left; 
	margin: 0;
}

div.session_navigation ul{
}

div.main_navigation ul li a {
    text-decoration: none;
	padding: 0.5em;
    color: #000;
}
div.session_navigation ul li a, div.sub_navigation ul li a {
    text-decoration: none;
    color: #000;
	padding: 0.5em;
	margin: 0;
}

div.main_navigation ul li.current a, div.session_navigation ul li.current {
	background-color: rgba(150,150,255,0.60);
    color: #000;
}

div.main_navigation ul li a:hover, div.session_navigation ul li a:hover, div.sub_navigation ul li a:hover {
	background-color: #66f;
    color: #000;
}

.system_message {
    padding: 0.2em;
}

/*
.error {
	color: red;
	font-weight: bold;
	background-color: #ffaeac;
	padding: 0.2em;
}

.info {
	color: #040;
	background-color: #ceffcc;
	padding: 0.2em;
}
*/

.warning {
	background-color: #ff6;
}

h3.preview_toggle_heading{
	display: inline-block;
	color: #365ccf;
	border-bottom: 1px dotted #36f;
}

button.show_hide_button, button.show_hide_button span {
	display: inline-block !important;
	vertical-align: middle;
}



h1, h2, h3 {
	font-family: 
		sans-serif;
}

h1 {
	color: #2929ff;
	margin-bottom: 1em;
    padding-bottom: 0.2em;
    border-bottom: 3px solid #7aaf9c;
}

h2 {
	margin-top: 1em;
	color: #5969ff;
	margin-bottom: 0.8em;
    padding-bottom: 0.2em;
    border-bottom: 2px dotted #7aaf9c;
}

h2.author {
	font-size: small; 

}

label {
	width: 16em;
	font-weight: bold;
	color: #000;
}

fieldset input, fieldset select{
	width: 20em;
}

textarea {
    width: 100%;
	min-width: 100%;
	min-height: 20em;
}

fieldset input.sumbit {
	width: auto;
}
fieldset, fieldset legend, input.submit, button {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

fieldset, fieldset legend {
	border: 2px outset #43f;
}

input.submit, button {
	border: 2px solid #43f;
}
input.submit {
	margin-left: 0.5em;
}


fieldset legend, input.submit {  
	margin-bottom: 0.3em;
}

fieldset {
	margin-bottom: 1em;

}

fieldset p {
	margin: 0.6em;
}

input.submit, fieldset, button {
	background: blue; 
	background-color: #aeccff; 
	background-image: -moz-linear-gradient(top, #aeccff, #fcfcff); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #aeccff),color-stop(1, #fcfcff)); 
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.25); 
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25); 

	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#aeccff, endColorstr=#fcfcff);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#aeccff, endColorstr=#fcfcff)";
}

input.submit {
	cursor: pointer;
	padding: 0.3em 0.4em;
	font-weight: bold;
    width: auto;
    margin-left: 0.6em
    margin-right: none;
}

div.submit {
    clear: right;
    margin-top: 0.4em;
}

input.submit:hover, button:hover {
	border: 2px solid #34f;
	background-color: #9eacdf; 
	background-image: -moz-linear-gradient(top, #9eacdf, #ccccff); 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #9eacff),color-stop(1, #ccccff)); 
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9eacdf, endColorstr=#ccccff);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#9eacdf, endColorstr=#ccccff)";
}

fieldset div, input.submit {
	color: #403f3f; 
}

fieldset legend {
	background-color: #fff;
	padding: 0.4em;
	margin: 0.1em;
	font-weight: bolder;
}

form {
	margin-bottom: 3em;
	width: 40em;
}


div.preview {
    margin-left: 1em;
    margin-bottom: 0.5em;
}

div.preview div.markdown {
	border: 2px dashed #89f;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	padding-left: 1em;
	padding-right: 1em;
	margin-right: 1em;
	margin-top: 1em;
	background-color: white;
}

div.listing div.content {
}

div.listing div.title {
}

/* The hover class, when the user hovers over a star */
.star_hover {
    background: url('../images/star.png');
}

/* This is for the span classes, that represent the seperate stars. You might want to change this to a seperate class */
span.star {
    cursor: pointer;
}

/* Again, you might want to make this a seperate class. */
div.rating {
    display: block;
    margin: 0;
}

/* Text to display when the user presses a star */
.highlight {
    font-family: Arial, sans-serif;
    font-size: large;
    position: relative;
    bottom: 9px;
    color: #93784b;
    font-weight: bold;
}

/* The text beside the rating, displaying the rating in text, incase the user doesn't 'get it' */
.star_rating {
    font-family: Arial, sans-serif;
    font-size: small;
    color: #93784b;

}
span.star_rating {
    float: right;
}

div.listings ul {
	list-style: none;
	margin-left: none;
    padding-left: none;
}

div.listings ul li:before {
	content: "\00BB \0020";
}


table {
}

th {
	background-color: #caca7f; 
	border-bottom: solid 2px #000;
	padding: 0.7em;
}

tr.odd {
	background-color: #fefcaf; 
}

tr.even {
	background-color: #dddfff;
}

td.num {
	text-align: right;
}
td.position {
	text-align: center;
}
td {
	padding: 0.7em;
}

form.search_form {
	font-size: small;
}

label {
	margin-right: 1em;
	clear: left;
}
