<script type="text/javascript">
document.observe("dom:loaded", function() {
	<% a = "'#{source_field}'" %>
	<% b = "'#{post_url}'" %>
	new TryRedClothObserver(<%= a %>, '', 'preview', <%= b %>).parseRedcloth();
//	  $('redclothpreview_form').hide();
});
</script>

<div id="preview"></div>
