<% content_for :title do %>
	<%= "About" %>
<% end %>
<div class='sub_navigation navigation'>
	<ul>
		<li><%= link_to 'About', about_home_path %></li>
		<li><%= link_to 'Support', support_home_path %></li>
	</ul>
</div>
<h1>About</h1>
<div class="question_answer">
  <div class="question">
    <h2>What is the purpose of this site?</h2>
  </div>
  <div class="answer">
    <p>
      The goal of this site is to create a more collaborative research environment at JCU. One which will foster the 
      creation of new research ideas. We hope that this site, and use of the associated notification system, 
      will help produce an environment which allows you, the staff, to easily find peers with similar research interests, 
      share/receive feedback on research ideas, and find research ideas that interest you. 
    </p>
  </div>
</div>
