<% content_for(:head) do %>
	<%= javascript_include_tag 'preview_textile' %>
	<%= stylesheet_link_tag 'preview_textile' %>
<% end %>

<script type="text/javascript">
document.observe("dom:loaded", function() {
	<% a = "'#{source_field}'" %>
	<% b = "'#{preview_textile_path}'" %>
	new TryRedClothObserver(<%= a %>, 'preview_textile', <%= b %>).parseRedcloth();
});
</script>

<!-- <p class="preview_title" id="preview_title">Preview</p> -->
<div id="preview_textile" title="Preview"></div>
