/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require vendor
 *= require_self
 *= require_tree . 
*/

h1, h2, h3 {
  line-height: 1.4em; 
}

body {
  margin-top: 0;
	font-family: tahoma,verdana,helvetica,arial,sans-serif;
	margin-left:  auto;
	margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
	min-width: 600px;
}

div.body_background {
/*    background: url('../images/background.jpg');  */
	width: 1000px;
	background-repeat: no-repeat;
	background-color: #dbbe76;
	padding-bottom: 1.5em;
}
    

img {
  max-width: 100%;
}

div.rating {
    font-size: 0.8em;
}

div.navigation {
	margin: 0 0 0.5em 0;
  width: 100%;
}

div.sub_navigation {
	display: inline-block;
  float: left;
}

div.main_navigation {
  float: left;
}

div.session_navigation {
	text-align: right;
}

.align_right {
  float: right;
}
.align_left {
  float: left;
}
div.navigation ul {
  list-style-type:none;
  padding:0;
}

div.navigation ul li {
  display: inline;
  margin: 0;
}

div.actions {
	float: right;
  clear: both;
}

div.main_navigation {
  font-size: large;
}

div.session_navigation ul li, div.sub_navigation ul li {
	text-align: left; 
  font-size: smaller;
}

div.navigation ul li a {
  text-decoration: none;
}

div.main_navigation ul, div.navigation ul li a {
  padding: 0.6em;
  margin: 0.3em 0 0.3em 0;
}

div.session_navigation ul {
  margin-top: 0.1em;
}

div.session_navigation ul li a{
  padding: 0.3em;
}

.system_message {
  padding: 0.2em;
}

/*
.error {
	color: red;
	font-weight: bold;
	background-color: #ffaeac;
	padding: 0.2em;
}

.info {
	color: #040;
	background-color: #ceffcc;
	padding: 0.2em;
}
*/

.warning {
	background-color: #ff6;
}

h3.preview_toggle_heading{
	display: inline-block;
	color: #365ccf;
	border-bottom: 1px dotted #36f;
}

button.show_hide_button, button.show_hide_button span {
	display: inline-block !important;
	vertical-align: middle;
}



h1 {
	color: #0909ff;
	margin-bottom: 1em;
  padding-bottom: 0.2em;
  border-bottom: 3px solid #9aafac;
}

h2 {
	margin-top: 1em;
	color: #5969ff;
	margin-bottom: 1em;
  padding-bottom: 0.2em;
  border-bottom: 2px dotted #7aaf9c;
}

h2.author {
	font-size: small; 

}

fieldset input, fieldset select{
  float: right;
	width: 60%;
}

textarea {
  width: 100%;
	min-width: 100%;
	min-height: 20em;
}

fieldset, fieldset legend, input.submit, button {
}

fieldset, fieldset legend {
}

input.submit {
  margin: 0.4em 0 0.4em 0;
}

fieldset {
	margin-bottom: 1em;
}

fieldset p {
	margin: 0.6em;
}

input.submit, fieldset, button {
}

input.submit {
	cursor: pointer;
	font-weight: bold;
  width: auto;
  margin-left: 0.6em;
  margin-right: 0;
}

div.submit {
  clear: right;
  margin-top: 0.4em;
}

input.submit:hover, button:hover {
}

fieldset div, input.submit {
}

fieldset legend {
	padding: 0.4em;
	margin: 0.1em;
	font-weight: bolder;
}



div.preview {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

div.markdown_preview {
  padding: 0.2em 0.3em 0.2em 0.4em;
}

div.listing div.content {
}

div.listing div.title {
}

/* The hover class, when the user hovers over a star */
.star_hover {
  background: url('../images/star.png');
}

/* This is for the span classes, that represent the seperate stars. You might want to change this to a seperate class */
span.star {
    cursor: pointer;
}

/* Again, you might want to make this a seperate class. */
div.rating {
    display: block;
    margin: 0;
}

/* Text to display when the user presses a star */
.highlight {
    font-family: Arial, sans-serif;
    font-size: large;
    position: relative;
    bottom: 9px;
    color: #93784b;
    font-weight: bold;
}

/* The text beside the rating, displaying the rating in text, incase the user doesn't 'get it' */
.star_rating {
    font-family: Arial, sans-serif;
    font-size: small;
    color: #93784b;

}
span.star_rating {
    float: right;
}

div.listings ul {
	list-style: none;
	margin-left: 0;
    padding-left: 0;
}

div.listings ul li:before {
	content: "\00BB \0020";
}


table {
}

th {
	padding: 0.7em;
}

tr:nth-child(odd) { 
  background-color:#ccf; 
}

tr:nth-child(even) { 
  background-color:#ccc; 
}

td.num {
	text-align: right;
}
td.position {
	text-align: center;
}
td {
	padding: 0.7em;
}

form.search_form {
	font-size: small;
}


label {
	margin-right: 4em;
  float: left;
	clear: left;
  margin-bottom: 0.4em;

	min-width: 7em;
  display: inline-block;
	font-weight: bold;
}

.markdown_preview_container {
  margin-left: 0.1em;
}

form, .markdown_preview {
	width: 38em;
  clear: both;
}

.markdown_preview {
  opacity: 0.7em;
  min-height: 4em;
  margin-bottom: 2em;
}

.markdown_preview_prompt {
  margin: 0;
  margin-top: 0.3em;
  text-align: center;
  font-style: italic;

}



.clearer {
  clear: both;
}

