// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.post .profile_image { 
  margin: 0em 0.5em 0em 0em;
}

div.tags_adjustment_form {
  display: none;
}

div.tags p {
  margin-top: 2em;
  font-size: small;
  margin-bottom: 2em;
}

div.tags p span.tag_title {
  font-weight: bold;
}
div.tags p span.tag_list {
  font-style: italic;
}

