// Place all the styles related to the Researchers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form div.profile_image {
  float: left;
  clear: both;
  margin-top: 0.2em;
  margin-bottom: 0.8em;
}

div.tags_adjuster form {
  border: none;
  clear: none;
  background: none;
}
div.tags_adjuster form input {
  background-color: none;
  border: none;
  background-color: #f6f6f6;
  cursor: pointer;
  margin-right: 0.3em;
}

div.tags_adjuster form * {
  float: left;
}

div.tags_adjuster form.current input.like_tag_submit {
  background-color: #0c9;
  background-color: rgba(0, 255, 190, 0.7);
}

div.tags_adjuster form.current input.dislike_tag_submit {
  background-color: #623;
  background-color: rgba(255, 120, 130, 0.7);
}

form.current {
}

div.tags_adjuster form.not_current {
  opacity: 0.7;
}

div.tags_adjuster form.not_current:hover {
  opacity: 1;
}

div.tags_adjuster form.current {
  opacity: 1;
}

div.tags_adjuster form.current {
  opacity: 1;
}
